{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

<section class="error-content">
    <div class="container">
        <div class="error-message">
            <h1 class="error-code">{{statusCode}}</h1>
            <p class="error-description">{{message}}</p>
            <a class="error-link" href="{{@site.url}}">
                {{> "icons/arrow-left"}}
                <span>Back to homepage</span>
            </a>
        </div>
    </div>
</section>

{{!-- Suggest some posts to read --}}
{{#get "posts" include="authors" limit="3" as |more_posts|}}
{{#if more_posts}}
<section class="related-posts">
    <div class="container">
        <header class="related-header">
            <h3 class="related-title">Latest Posts</h3>
            <p class="related-description">Maybe you'll find what you're looking for here</p>
        </header>
        <div class="related-grid">
            {{#foreach more_posts}}
            {{> "post-card"}}
            {{/foreach}}
        </div>
    </div>
</section>
{{/if}}
{{/get}}
